body{
  background-color: #c4e3ed;
}
.content{
  width: 60%;
  margin-left: 25%;
}
h1, h2{
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}
h3{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
hr {
  border-top: 2px solid white;
  margin-top: 55px;
}
ul {
  list-style-type: circle;
}
p, li{
  padding: 7px;
  font-size: 19px;
}
div{
  margin-top: 20px;
}
.date {
  font-weight: bold;
}
img{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 160px;
  margin-left:28%;
}
